
<div id="cpage">
<div>
    <div id="slogan" class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Jonny Kool LLC</h1>
          <p class="lead">Keep if Kool Baby</p>
        </div>
      </div>

<div>











</div>
















  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Manager</button>
    <!-- <button type="button" class="btn btn-secondary">Middle</button> -->
    <button type="button" class="btn btn-secondary" routerLink="ehomepage">Employee</button>
  </div>
</div>

</div>