/* #foot
{
    background-color: rgba(25, 25, 53, 0.651);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(111, 132, 170);
    background-size:cover !important;
} */