#foot
{
    background-color: rgba(34, 114, 180, 0.514);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(28, 32, 37);
    height:40px !important;
    margin-bottom: 0px !important;
}

#cap
{
    margin-bottom: 0 !important;
    padding-left: 10px;
    padding-top: 10px;
}